body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #f8f9fa;
    font-size: 24px;
}

nav {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #444;
    margin-bottom: 20px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #007bff;
    padding: 14px 20px;
    text-align: center;
}

nav a:hover {
    background-color: #555;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chart-container {
    text-align: center;
    position: relative;
    margin: auto;
    height: 80vh;
    width: 80vw;
    margin-bottom: 20px;
}

.explanation-container {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 8px;
    padding-bottom: 60px; /* Add padding to the bottom */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f8f9fa;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 14px;
}