{% extends "header.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <h1 class="text-center">Welcome</h1>
    <p>You have the following options:</p>
    <ul>
        <li>Upload files: You can upload 10 files to package. Then choose a custom extention, a key and download the package.</li>
        <li>Open and view package: Use the key to view the contets or a snippit. You can also choose to just display the names and extentions of the files included.</li>
    </ul>
    <div class="text-center mt-4">
        <a href="/upload" class="btn btn-primary">Upload Files</a>
        <a href="/open_view" class="btn btn-secondary">Open and View Package</a>
    </div>
{% endblock %}
